html,body{
    height: 100%;
    background-color: #031926; 
}


.header{
    margin-top: 0;
    background-color: #F4E9CD;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #468189;
}
.icon_img{
    width: 100%;
    max-width: 150px !important;
    height: auto;
    margin-left: min(0.3rem);
}

.yo{
    align-self: center;
    font-size: xx-large !important;
}

.icons_header{
    font-size: xx-large !important;
    margin-left: 15px;
    cursor: pointer;
    color: #468189;
}

.card_mi{
    background-color: #F4E9CD;
    color: #468189;
    border-radius: 15px;
}

.c_primary{
    color:  #031926;
}
.c_second{
    color:  #F4E9CD;
}

.c_third{
    color:  #468189;
}

span{
    font-size: large;
}

.container{
    justify-content: center;
    margin-bottom: 2rem;
}

.tecnology{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.icon_tech{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: min(6vw, 60px) !important;
    
}

.lbl_tech{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 10px;
    font-size: min(3vw, 20px) !important;
    font-weight: 600;
    color: #031926;
}

 .tabs.is-boxed li.is-active a {
    background-color: #031926;
    border-color: #031926;
    color: #F4E9CD;
}

.tabs.is-boxed li a {
    background-color: #F4E9CD;
    color: #031926;
}

.tabs.is-boxed li :hover{
    border-color: #031926;
    background-color: #F4E9CD;
    color: #031926;
} 

.flechas{
    text-align:center;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    margin: 5px;
}

.mgTop1{
    margin-top: 10px;
}
.mgTop2{
    margin-top: 20px;
}

#cont_exp_text{
    text-align: start;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px 15px;
}

.button_float{
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: min(1.5rem);
}

.btn_float{
    background-color: #031926;
    color: #F4E9CD;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn_float :hover{
    color: #468189;
}
/* #imagen_ {
    width: 100%;
    height: auto;
}
#imagen_ :hover {
    transition: transform 0.5s ease-in-out;
    outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 2*var(--s)); 
} */

.image-wrapper {
    width: 100%;
    height: auto;
    margin-left: 7px;
  }
  
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
  }
  
  .image-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(15px, -5px);
    transition: transform 300ms ease;
    transform-origin: top;
    .image-wrapper:hover & {
      transform: translate(0,0);
    }
  }
  
  .image-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-20px, 10px);
    transition: transform 300ms ease;
    .image-wrapper:hover & {
      transform: translate(0,0);
    }
  }
  
  .image-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    .image-wrapper:hover & {
      transform: translate(0,0);
    }
  }
  
  .image-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(-32px, 5px);
    transition: transform 300ms ease;
    transform-origin: top;
    .image-wrapper:hover & {
      transform: translate(0,0);
    }
  }
  